	body {
		background: #000;
		margin: 0;
	}
	#Home-btn {
		left: 72%;
	}
	#Projects-btn {
		left: 78%;
	}
	#Contact-btn {
		left: 84%;
	}
	#Feedback-btn{
		left: 90%;
	}

	.spacing{
		margin: 10px;
	}

	button {
		position: absolute;
		top: 2%;
		width: 7%;
		height: 5%;
		color: silver;
		border: none;
		outline: none;
		background: none;
		font-weight: 400;
		font-size: inherit;
		transition: all 0.5s;
	}

	button:hover {
		color: #F7FF58;
	}
	
	.dna-effect{
		position: absolute;
	}

	*{
        -webkit-box-sizing: border-box;
    	box-sizing: border-box;
	}

	canvas{
   		 background-color: #000;
	}

	h1.typewriter {
		position: absolute;
		color: white;
		font-size: 60px; 
		font-family: Helvetica, Arial, sans-serif;
		margin-top: 15%;
		margin-left: 10%;
		white-space: nowrap;
  		overflow: hidden;
		animation: type 3s steps(60,end);
	}

	.divpwrapper {
		position: absolute;
		margin-top: 24%;
		margin-left: 10%;
	}

	p.typewriter {
		color: white;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 20px;
		white-space: nowrap;
  		overflow: hidden;
  		animation: type1 2s steps(100,end);
	}

	span.typewriter{
		animation: blink 0.8s infinite;
	}

	p.typewriter.p2{
		animation: type2 4.5s steps(100,end);
	}

	p.typewriter.p3{
		animation: type3 7s  steps(100,end);		
	}

	p.typewriter.p4{
		animation: type4 9s  steps(100,end);
	}

	@keyframes type{ 
  		from { width: 0; }
  		to {width: 100%}
	} 

	@keyframes type1{ 
  		0% { width: 0; }
  		45% {width: 0;}
  		100% {width: 100%;}
  	}

	@keyframes type2{
		0% { width: 0; }
  		45% {width: 0;}
  		100% {width: 100%;}
	}

	@keyframes type3{
		0% { width: 0; }
  		65% {width: 0;}
  		100% {width: 100%;}
	}

	@keyframes type4{
		0% { width: 0; }
  		74% {width: 0;}
  		100% {width: 100%;}
	}

	@keyframes blink{
  		to{opacity: .0;}
	}

	::selection {
		background: #000;
	}